.box {
    border: 50px solid red;
    width: 200px;
    padding: 50px;
    margin: 20px;
}
.green {
    border: 50px solid green;
    --display:none;
    visibility:hidden
}
.blue {
    border: 50px solid blue;
}