.main {
    display: flex;
    justify-content: space-between;
}

.box {
    width : 100px;
    height : 100px;
    background-color: purple;
    color: white;
}

.sub-main {
    display: flex;
}

.mr-5 {
    margin-right: 5px;
}

.main2 {
    display: flex;
    flex-direction: column;
}

.box-center {
    align-self: center;
}

.box-end {
    align-self: flex-end;
}

.main3 {
    display: flex;
    justify-content: center;
}

.box-big {
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
    position: relative;
}

.box-position {
    position: absolute;
    top: 50px;
    left: 50px;
}


.box-2 {
    background-color: black;
}

.box-position4{
    position: relative;
    top: -50px;
    left: 50px;
}


.box-big5 {
  width: 400px;
  height: 150px;
  background-color: black;
  color: white;
  position: absolute;
  right:0px;
  bottom:0px;
}
.box-top5 {
  position: absolute;
  top: 0;
  right: 0;
}
.box-bottom5 {
  position: absolute;
  bottom: 0;
  left: 0;
}
