
body {
    margin: 0;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    color: #1ed760;
}

nav {
    height: 80px;
    background-color: black;
    color: white;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

main {
    height: 960px;
    background-color: rgb(41, 65, 171);
    background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
    background-size: 175%;
    background-position: 46% 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-heading {
    font-size: 126px;
    line-height: 166px;
    color: #1ed760;
    font-weight: 900;
}

.sub-headline {
    color: #1ed760;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 40px;
    text-align: center;
}

.button-area {
    text-align: center;
}

.button-style {
    padding: 14px 32px;
    background-color: #1ed760;
    border-radius: 500px;
    font-size: inherit;
    color: #2941ab;
    font-weight: 700;
    border: none;
}

.headline {
    font-size: 146px;
    line-height: 166px;
    color: #1ed760;
    font-weight: 900;
    position: relative;
    left: 225px;
    padding-bottom: 40px;
}

footer {
    height: 530px;
    background-color: black;
    display: flex;
    justify-content: center;
}


.nav-item {
    padding: 28px 17px;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 50px;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  height: 346px;
}

.first-box {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.second-box {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
.sub-title {
  color: #919496;
  font-weight: 900;
  margin: 20px 0px;
}.column {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
.sub-title {
  color: #919496;
  font-weight: 900;
  margin: 20px 0px;
}
.footer-menu-item {
  padding-bottom: 15px;
  padding-top: 3px;
  font-size: 16px;
}




.icon-box {
  width: 54px;
  height: 54px;
  background-color: #222322;
  border-radius: 50%;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  font-size: 24px;
}
.icon:hover {
  color: #2de26d;
}


.first-line {
  color: #919496;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}