.btn-outline-success {
    color: #28a745;
    border-color: #28a745;
}

.btn-outline-success:hover {
    background-color: #28a745;
    color: white;
    border-color: #28a745;
}   

footer {
    background-color: #121212;
    color: white;
    padding: 40px 0;
}

.first-line {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 14px;
    color: #919496;
}


.second-line  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 12px;
    color: #919496;
}


@media screen and (max-width:48rem) {
    .first-line {
        text-align: center;
    }
    
}

@media screen and (max-width:48rem) {
    .second-line a {
        justify-content: center;
    }
}