.red {
  color: red;
  background-color: yellow;
  text-align: center;
}

.border-blue {
  border: 1px solid blue;
}


.img-size {
  width: 500px;
  height: 300px
}

h1 {
  color: #9b59b6;
}

p {
  font-size: 16px;
  font-family: Verdana;
  font-style: italic;
}

.sub-header {
  color: #9b59b6;
}

p::first-letter {
  font-size: 200%;
  font-weight: bold;
  color: #8A2BE2;
}

p::before {
  content: "Topic: ";
}

body {
  padding: 10%;
}

h1:first-child {
  text-align: center;
}